@model List<Bootcamp>
    
    @await Html.PartialAsync("_Header")

    <div class="row">
        @foreach(var bootcamp in Model){

            @if(bootcamp.isHome && bootcamp.isActive){        
            <div class="col-3">
                <div class="card">
                    <img src="~/img/@bootcamp.Image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@bootcamp.Title</h5>
                        <p class="card-text">@bootcamp.Description</p>
                        <a asp-controller="Bootcamp" asp-action="Details" asp-route-id="@bootcamp.Id" class="btn btn-success">Detay</a>
                    </div>
                </div>
            </div>
                }
        }
    </div>

